{% extends 'layout.html' %}

{% block content %}

	<form action="" method="post" class="m-3" role="form" novalidate>
		{{ form.csrf_token() }}
		<div class="form-group">
			{{ form.name.label }} {{ form.name }}
		</div>
		<div class="form-group">
			{{ form.type.label }} {{ form.type }}
		</div>
		<div class="form-check">
			{{ form.vip }} {{ form.vip.label }}
		</div>
		<div class="form-group">
			{{ form.locality.label }} {{ form.locality }}
		</div>
		<div class="form-group">
			{{ form.service_type.label }} {{ form.service_type }}
		</div>
		<div class="form-group">
			{{ form.vlan_address_from.label }} {{ form.vlan_address_from }}
		</div>
		<div class="form-group">
			{{ form.vlan_address_to.label }} {{ form.vlan_address_to }}
		</div>
		<div class="form-group">
			{{ form.channel_width.label }} {{ form.channel_width }}
		</div>
		<div class="form-group">
			{{ form.date_of_request.label }} {{ form.date_of_request }}
		</div>
		<div class="form-group">
			{{ form.information_source.label }} {{ form.information_source }}
		</div>
		<div class="form-group">
			{{ form.responsible_manager.label }} {{ form.responsible_manager }}
		</div>
		{{ form.submit }}
	</form>


{% endblock %}