{% extends 'layout.html' %}

{% block content %}
	<div class="text-center">
		<h1 class="display-3 mt-4 mb-4">Контрагенты</h1>
	</div>

	{# ... table section ...#}
	{% if table %}
		<table id="counterparties_view" class="table table-sm small text-sm-center table-hover">
			<thead>
				<tr>
					<th scope="col">Наименование контрагента</th>
					<th scope="col">Тип контрагента</th>
					<th scope="col">VIP клиент</th>
					<th scope="col">Нас. пункт</th>
					<th scope="col">Тип услуги</th>
					<th scope="col">Адес VLAN от</th>
					<th scope="col">Адес VLAN до</th>
					<th scope="col">Ширина канала</th>
					<th scope="col">Дата заявки</th>
					<th scope="col">От куда узнали об услугаx</th>
					<th scope="col">Ответственный менеджер</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for row in table %}
				<tr id="row_{{ row.id }}">
					<td>{{ row.name }}</td>
					<td>{{ row.type }}</td>
					<td>{{ row.vip }}</td>
					<td>{{ row.locality }}</td>
					<td>{{ row.service_type }}</td>
					<td>{{ row.vlan_address_from }}</td>
					<td>{{ row.vlan_address_to }}</td>
					<td>{{ row.channel_width }}</td>
					<td>{{ row.date_of_request }}</td>
					<td>{{ row.information_source }}</td>
					<td>{{ row.responsible_manager }}</td>
					<td>
						<input type="button" value="Удалить" class="delete_button"/>
						<br><br>
						<input type="button" value="Изменить" />
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="text-center">
			<p class="lead text-muted">There is no any counterparties yet</p>
		</div>
	{% endif %}
	{# ... end table section ...#}

{% endblock %}

{% block script %}
	$('#counterparties_view').on('click', 'input.delete_button', function() {
		var row = $(this).parents('tr');
		var confirmation = confirm('Are you sure you want to delete this row?');
		if (confirmation == true) {
			$.ajax({
				url: "{{ url_for('delete_row') }}",
				type: 'POST',
				contentType: 'application/json',
				headers: {
					'X-CSRFToken': '{{ csrf_token() }}',
				},
				data: JSON.stringify({
					id: parseInt(row.attr('id').split('row_')[1]),
				}),
				success: function(result) {
					if (result['success'] == true) {
				    row.remove();
					}
				}
			});
		}
	});
{% endblock %}